<%= render 'shared/error', obj: @category %>
<h1 class="text-center">Create a new category</h1>

<%= render 'categories/form' %>
<div class="col-xs-4 col-xs-offset-6 pull-right">
  <%= link_to "Cancel request return to article list",users_path %>
</div>

